*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
/*----- HEADER -------*/
nav{
    padding: 6px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    transition: .9s;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.abajo{
    background: #000;
    padding: 0px;
    z-index: 10;
}
.abajo .boton{
    color: #fff;
}
.logo{
    width: 200px;
}
.list{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
li{
    display: inline-block;
}
.boton{
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    position: relative;
    padding: 10px;
}
.boton:hover{
    color: grey;
}
.boton::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: rgb(0,206,209);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
.boton:hover::after{
    width: 100%;
    right: 0;
    color: #D3D3D3;
}
/* ------- SLIDER ------- */
.slide-container{
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
/* .miSlider{
    display:none;
    transition: 2s;
    max-height: 100vh;
}*/
.miSlider img{
    width: 100%;
    height: auto;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 4s;
    object-position: center;
}
.direcciones{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.direcciones a{
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}
.direcciones a:hover{
    background: rgba(0, 0, 0, .3);
    transition: .5s;
}
.barras{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.barra{
    cursor: pointer;
    height: 2px;
    width: 25px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}
.active{
    background-color: rgb(0,206,209);
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* ----- body ------ */
.div{
    height: 500px;
    background-color: #fff;
}
p{
    color: #000;
}

.banner-h1{
    color: #fff;
    letter-spacing: 3px;
    font-size: 200px;
    justify-content: center;
    position: relative;
    display:flex;
    bottom: 500px;
    
}
.banner-h2{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: rgb(0,206,209);
}
